video {
  width: auto;
  height: auto;
  max-width: 100%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "gg sans normal";
}
hr {
  border: none;
  border-top: 1px solid #d9bfb7;
  height: 0;
}
textarea {
  width: 250px;
  height: 150px;
}
#anon {
  color: #117743;
  font-weight: 700;
}
#title-post {
  color: #cc1105;
  font-weight: 700;
}
#captcha-input {
  width: 250px;
}
:global(body) {
  background: #ffe url("../src/images/fade.png") top repeat-x;
  color: #800;
  font-family: "gg sans Normal";
}
#center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
summary {
  font-weight: bold;
  color: #00e;
  font-size: 22px;
  font-weight: 700;
}
span {
  color: #800;
}
.container {
  display: flex;
  flex-direction: column;
}
.captcha-container {
  display: flex;
  flex-direction: column-reverse;
}
.hidden {
  display: none;
}

.upload-btn {
  width: 128px;
  height: 32px;
  background-color: black;
  font-family: "gg sans normal";
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
#post-btn {
  width: 128px;
  height: 32px;
  background-color: #898f9c;
  font-family: "gg sans normal";
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.upload-btn:hover {
  background-color: white;
  color: black;
  outline: black solid 2px;
}

#verify {
  background-color: #ffffee;
  color: #ffffee;
}
