.comment {
  background-color: #f0e0d6;
  border: 1px solid #d9bfb7;
  border-left: none;
  border-top: none;
  display: table;
  padding: 2px;
}
.upload-btn {
  width: 128px;
  height: 32px;
  background-color: black;
  font-family: "gg sans normal";
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.hidden {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
}
video {
  width: auto;
  height: auto;
  max-width: 100%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "gg sans normal";
}
summary {
  font-weight: bold;
  color: #00e;
  font-size: 22px;
  font-weight: 700;
}
span {
  color: #800;
}
textarea {
  width: 250px;
  height: 150px;
}
#post-btn {
  width: 128px;
  height: 32px;
  background-color: #898f9c;
  font-family: "gg sans normal";
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
#anon {
  color: #117743;
  font-weight: 700;
}
#center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#separator {
  color: #e0bfb7;
  float: left;
  margin-right: 2px;
  margin-top: 0;
  margin-left: 2px;
}
#blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  unicode-bidi: isolate;
}
#title-post {
  color: #cc1105;
  font-weight: 700;
}
:global(body) {
  background: #ffe
    url("https://dotorchan.s3.amazonaws.com/static+files/fade.png") top repeat-x;
  color: #800;
  font-family: "gg sans Normal";
}
