hr {
  border-color: #717780;
}
h2 {
  font-size: 1.5em;
  color: #b294bb;
}

video {
  width: auto;
  height: auto;
  max-width: 100%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "gg sans normal";
}
textarea {
  width: 250px;
  height: 150px;
}
#logo {
  display: block;
  height: 10%;
  width: 10%;
}
#captcha-input,
#title {
  width: 250px;
}
:global(body) {
  background: #ffe url("../src/fade.png") top repeat-x;
  color: #800;
  font-family: "gg sans Normal";
}
.container {
  display: flex;
  flex-direction: column;
}
.captcha-container {
  display: flex;
  flex-direction: column-reverse;
}
.hidden {
  display: none;
}

.upload-btn {
  width: 128px;
  height: 32px;
  background-color: black;
  font-family: "gg sans normal";
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
#post-btn {
  width: 128px;
  height: 32px;
  background-color: #898f9c;
  font-family: "gg sans normal";
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.upload-btn:hover {
  background-color: white;
  color: black;
  outline: black solid 2px;
}
